@charset "ISO-8859-1";

body{
  	margin: 0;
	font-family: Arial;
}

.bg {
    /* The image used */
    background-image: url("https://i.insider.com/5b59df8d1982d835008b460a?width=1100&format=jpeg&auto=webp");
    /* Full height */
    height: 100vh;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.align-homebutton {
    position: absolute;
    width: 100vw;
    bottom: 0px;
}

.home-button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 16px 20px;
    width: 280px;
    cursor: pointer;
    opacity: 0.8;
}

p{
	font-size: 22px;
    color: gray;
	font-family: Arial;
	padding: 10px;
}

.textbox{
	background-color: white;
	font-family: Arial;
	opacity: .8;
	margin: 0px 20px;
}

.imgbox {
    font-family: Arial;
    margin: 0px 20px;
}

.hide{
	display: none;
}

.hidden{
	display: block;
}

header {
    color: blueviolet;
    text-align: center;
    font-family: Arial;
    font-size: 26px;
}

.navbar{
	z-index: 1;
	overflow: hidden;
	background-color: lightskyblue;
	font-family: Arial;
}

.navbar a{
	float: left;
	font-size: 16px;  	
	position: sticky;
	text-align: center;
	text-decoration: none;
	padding: 14px 16px;
	color: blue;
}

.navbar a.b{
    float: right;
 }

.d{
    display: none;
}

.navbar a.c:hover{
	background-color: lightskyblue;
}

.navbar a.active{ 
	color: aliceblue;
}

.navbar a:hover{ 
	background-color: deepskyblue;
}

.navbar a.active:hover{ 
	color: aliceblue;
}

.dropdown, .submenu {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn, .submenu .submenubtn  {
        cursor: pointer;
        font-size: 16px;
        border: none;
        outline: none;
        color: blue;
        padding: 14px 16px;
        margin: 0;
        background-color: lightskyblue;
}

.dropdown-content, .submenu-content{
    display: none;
    position: absolute;
    color: white;
    background-color: lightskyblue;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a, .submenu-content a{
        float: none;
        padding: 12px 16px;
        color: blue;
        text-decoration: none;
        display: block;
        text-align: left;
}

.dropdown-content a:hover, .submenu-content a:hover {
    background-color: deepskyblue;
}

.dropdown:hover .dropdown-content, .submenu:hover .submenu-content {
    display: block;
}

.submenu .submenubtnactive {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: aliceblue;
    padding: 14px 16px;
    margin: 0;
    background-color: lightskyblue;
}

.read {
    cursor: pointer;
    border: solid;
    outline: none;
    margin: 0;
    color: blue;
    font-family: inherit;
    font-size: inherit;
}

.box1 {
    cursor: pointer;
    border: solid;
    outline: none;
    margin: 0;
    float: left;
    color: blue;
    padding: 20px;
}

.box2 {
    cursor: pointer;
    border: solid;
    outline: none;
    margin: 0;
    float: right;
    color: blue;
    padding: 20px;
}

.modal-image{
	display: block;
    width: 700px;
    height: 300px;
	margin-left: auto;
 	margin-right: auto;
 }

.map{
	width: 1000px;
	height: 600px;
	display: block;	
	margin-left: auto;
 	margin-right: auto;
    opacity: .8;
}

.gridimage {
    cursor: pointer;
    width: 500px;
    height: 500px;
}

.anchor {
	float: left;
	height: 30px;
	width: 30px;
}

.split{
	height: 100%;
	width: 50%;
	position: fixed;
	z-index: -1;
	top: 9%;
	overflow-x: hidden;
	padding-top: 20px;
}

.left{
	left: 0;
}

.right{
	right: 0;
}

.centered{
	position: absolute;
	text-align: center;
	left: 25%;
}

.centered2{
	position: absolute;
	text-align: center;
	left: 50%;
}

footer{
	text-align: left;
	font-size: 25px;
}

.fa {
  padding: 5px;
  font-size: 30px;
  width: 35px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  opacity: 1.0;

}

.fa:hover {
    opacity: 1.0;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.open-button {
    background-color: #000000;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

.fit{
	overflow: auto;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  overflow: auto;
  
}

/* Add styles to the form container */
.form-container {
  height: 470px;
  width: 280px;
  padding: 10px;
  background-color: white;
  overflow: auto;
}

.container {
    align-content: center;
    opacity: .8;
    padding: 10px;
    background-color: white;
    overflow: auto;
    font-size: 20px;
    font-family: Arial;
}

/* Full-width input fields */
.container input[type=text], .container input[type=email], .container input[type=tel], .container input[type=date], .container .sel {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.container input[type=text]:focus, .container input[type=email]:focus, .container input[type=date], .container input[type=tel]:focus, .container .sel:focus{
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 1;
}

/* Add a red background color to the cancel button */
.container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.container .btn:hover, .open-button:hover {
  opacity: 1;
}

.form-container input[type=text], .form-container input[type=email], .form-container input[type=tel], .form-container input[type=date], .form-container .sel {
  width: 80%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=email]:focus, .form-container input[type=date], .form-container input[type=tel]:focus, .form-container .sel:focus{
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 1;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
  opacity: 1;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}


.grid-container {
    padding: 5px;
    display: grid;
    grid-template-columns: auto auto;
}

.grid-item {
    font-size: 30px;
    text-align: center;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  overflow: auto;
  background-color: floralwhite;
  margin: auto;
  padding: 5px;
  border: 1px solid #888;
  width: 55%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

section:after {
  content: "";
  display: table;
  clear: both;
  padding: 20px;
}

nav {
    float: left;
    width: 30%;
    height: 300px;
    background: #ccc;
    padding: 20px;
}

nav ul {
  font-size: 20px;
  list-style-type: none;
  padding: 0;
}

nav a{
	text-decoration: none;
	color: black;	
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  height: 300px;
  background-color: #f1f1f1;
}

@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}

e, e:link, e:visited {
  color: black;
  padding-right: 10px;
  text-align: left; 
  text-decoration: none;
  display: inline-block;
}

e:active,e:hover {
  color: black;
  text-align: left; 
  text-decoration: underline;
  display: inline-block;
}

.logo{
	position: absolute;
	top: 0px;
	left: 0px;
	max-width: 125px;
}

.button {
    cursor: pointer;
    background-color: #000000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.contact_button{
    height:20px; 
    width:100px; 
    margin: -20px -50px; 
    position:relative;
    top:50%; 
    left:50%;
}

.header {
  position: relative;
  padding: 40px;
  background: #ffffff;
  text-align: right;
}

.benefits_header{
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	font-size: 25px
}


.tab{
	display: inline-block;
	margin-left: 200px;
}

.benefits{
	display: inline-block;
	width: 100%;
	height: auto;
	text-align: center;
	padding-bottom: 10px;
	font-size: 20px;
}

.benefits-left-third{
	display: inline-block;
	width: 16%;
	height: auto;
	text-align: center;
	padding-left: 300px;
	font-size: 20px;
}

.benefits-center-third{
	display: inline-block;
	width: 16%;
	height: auto;
	text-align: center;
	padding-left: 125px;
	font-size: 20px;
	padding-bottom: 100px;
}

.benefits-right-third{
	display: inline-block;
	width: 16%;
	height: auto;
	text-align: center;
	padding-left: 100px;
	font-size: 20px;
}

.yacht-grid-left{
	width:16%;
	height: auto;
	padding-left: 200px;
}

.yacht-grid-left-details{
	width: 20%;
	height: auto;
	padding-left: 250px;
	padding-top: 300px;
	text-align: center;
	font-size: 20px;
}

.yacht-grid-center{
	width:16%;
	height: auto;
	padding-left: 650px;
}

.yacht-grid-center-details{
	width: 18%;
	height: auto;
	padding-left: 680px;
	margin-top: -20px;
	text-align: center;
	font-size: 20px;
}

.yacht-grid-right{
	width:16%;
	height: auto;
	padding-left: 1100px;
	margin-top: -10px;
}

.yacht-grid-right-details{
	width: 20%;
	height: auto;
	padding-left: 1100px;
	margin-top: -20px;
	text-align: center;
	font-size: 20px;

}

.yacht-grid-image{
	position: absolute;
	max-width: 400px;
	height: auto;
	padding-bottom: 50px;
}

.yacht-learn-more-button{
  background-color: #000000;
  border: none;
  color: white;
  padding: 15px 52px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  margin-top:15px;
}

.rows > .cols {
    padding: 0 8px;
}

.rows:after {
    content: "";
    display: table;
    clear: both;
}

/* Create four equal columns that floats next to eachother */
.cols {
    float: left;
    width: 50%;
}

/* The Modal (background) */
.gallerymodal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    opacity: .8;
}

/* Modal Content */
.gallerymodal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

/* The Close Button*/
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

    .close:hover, .close:focus {
        color: #999;
        text-decoration: none;
        cursor: pointer;
    }

/* Hide the slides by default */
.slideshow {
    opacity: 1;
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Caption text */
.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

img.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.column {
  margin-top: 150px;
  float: left;
  width: 33.33%;
  text-align: center;
  font-size: 30px;
}

.column p{
  font-size: 26px;
  color:black;
}

.column img{
  width:99%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column2 {
  margin-top: 150px;
  float: left;
  width: 33.33%;
  text-align: center;
  font-size: 30px;
}

.column2 p{
  font-size: 20px;
  color:black;
}

.column2 b{
  font-size:36px;
}

.column2 img{
  width:99%;
  margin-bottom: 50px;
}

.learn-more-button-cols {
  float: left;
  width: 33.33%;
  text-align: center;
  font-size: 30px;
  margin-bottom: 200px;
}

.learn-more-button-cols .button{
  cursor: pointer;
  background-color: #000000;
  border: none;
  color: white;
  padding: 25px 72px;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  border-radius: 8px;
  margin-top:15px;
}

.learn-more-button-cols p{
  font-size:22px;
  color:white;
}

.learn-more-button-cols b{
  font-size:36px;
}

/* Clear floats after the columns */
.row2:after {
  content: "";
  display: table;
  clear: both;
}

.textbox2{
  background-color: white;
  font-family: Arial;
  opacity: .8;
  float:left;
}

.yacht-name-details{
  margin-top:100px;
  margin-left:10%;
  float:left;
  width:30%;
}

.yacht-name-details h1{
  font-size:50px;
}

.yacht-image {
    float: right;
    width: 60%;
    height: 500px;
}

